.node {
    /*60 is the number of columns and 30 the number of rows
    please modify accordingly in PathFindingVisualizer.js
    120px is the size of the header*/
    width: calc(100% / 60);
    height: calc((100vh - 120px) / 30);
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
    vertical-align: top;
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

/* no animation*/
.node-visited-na {
    background-color: rgba(0, 190, 218, 0.75);
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(17, 104, 217, 0.75);
    }

    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgba(0, 190, 218, 0.75);
    }
}

.node-wall {
    background-color: rgb(12, 53, 71);
}

.node-shortest-path-na {
    background-color: rgb(255, 254, 106);
    outline-color: rgb(255, 254, 106);
}

.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: rgb(255, 254, 106);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(255, 254, 106);
    }

    100% {
        transform: scale(1);
        background-color: rgb(255, 254, 106);
        outline-color: rgb(255, 254, 106);
    }
}